<h1>Welcome to the La Parilla Secret Recipe Blog</h1>
<body>
</body>
<img src="https://cdn.cheapism.com/images/Budget_Friendly_Mexican_Dishes.2e16d0ba.fill-1440x605.jpg" alt="Italian Trulli">

<%= link_to 'About', about_path %>
